useDynLib(neqtl)

# functions to export
export(maxlod, maxlod.sigpos)
export(nullsims)
export(neqtl)
export(findpeaks)
export(findpeaks.traits)
export(peaks)
export(plotpeaks)

# functions to import
importFrom(stats, rnorm)
importFrom(qtl, scanone)
