useDynLib(neqtl)

# functions to export
export(maxlod, maxlod.sigpos)
export(nullsims)
export(neqtl)
export(findpeaks)
export(findpeaks.traits)
export(peaks)
export(plotpeaks)
export(image.scanone,hc.ord)

# functions to import
importFrom(stats, rnorm)
importFrom(stats, hclust)
importFrom(stats, dist)
importFrom(qtl, scanone)
importFrom(graphics, image)
importFrom(graphics, strwidth)
