useDynLib(neqtl)

# functions to export
export(maxlod, maxlod.sigpos)
export(nullsims)
export(neqtl)
export(findmax)
export(findmax.traits)
export(maxlod.cistrans)
export(plot.cistrans)

# functions to import
importFrom(stats, rnorm)
importFrom(qtl, scanone)
